.card-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media only screen and (max-width: 992px) {
    .card-list{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
}

@media only screen and (max-width: 550px) {
    .user-card.card{
        flex-direction: unset;
    }

    .user-card .card-img-top {
        width: 50%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .card-body {
        width: 50%;
    }

    .card-list{
        grid-template-columns: 1fr;
    }
}

.sort-elm p{
    display: inline-block;
    font-weight: 500;
}

.sort-elm button.btn.btn-outline-success{
    width: 150px;
}
