.card-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


@media only screen and (max-width: 992px) {
    .card-list{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
}


.sort-elm p{
    display: inline-block;
    font-weight: 500;
}

.sort-elm button.btn.btn-outline-success{
    width: 150px;
}
